pkgbase = dynssh-git
	pkgdesc = Simple SSH wrapper
	pkgver = 1.1.5.r8.g59df6ee5b112d41d40e449eeaaddcbcf90ff5812
	pkgrel = 1
	url = https://github.com/themartiancompany/dynssh
	arch = any
	groups = hip
	groups = hip-git
	license = AGPL3
	checkdepends = shellcheck
	makedepends = curl
	makedepends = jq
	depends = hotspot-resolver
	depends = libcrash-bash
	depends = openssh
	depends = ssh-utils
	provides = dynssh=1.1.5.r8.g59df6ee5b112d41d40e449eeaaddcbcf90ff5812
	conflicts = dynssh
	source = dynssh-master.tar.gz::https://github.com/themartiancompany/dynssh/archive/refs/heads/master.tar.gz
	sha256sums = SKIP

pkgname = dynssh-git
